* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  margin-top: 15px;
}

.friends-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.search {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.search-circle {
  background-color: #f4f4f4;
  border-radius: 50%;
  padding: 10px;
  margin: 0 5px;
}

.sections-container {
  display: flex;
  margin-top: 15px;
}

nav i.fa-home,
nav i.fa-facebook-messenger,
nav i.fa-bell,
nav i.fa-play-circle,
nav i.fa-shopping-cart {
  font-size: 20px;
  margin-top: -10px;
  color: black;
}

nav i.fa-users {
  color: blue;
  font-size: 20px;
  margin-top: -10px;
}

.friends-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.sections-container {
  display: flex;
}
.section {
  width: 109px;
  height: 39px;
  margin-left: 10px;
  padding: 10px;
  background-color: lightgray;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.section a {
  text-decoration: none;
  color: #000;
}

.section-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.friend-requests-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
}

.friend-requests-title {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.see-all {
  font-size: 15px;
  font-weight: 200;
  color: #3b5998;
}

.friend-request {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
}

.profile-pic {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-info {
  flex: 1;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.mutual-friends {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mutual-friends {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.mutual-friend-pic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.mutual-friends-count {
  font-size: 14px;
  color: #555;
}

.buttons {
  display: flex;
  gap: 10px;
}

.confirm,
.delete {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 60%;
}

.confirm {
  background-color: #1877f2;
  color: white;
  font-weight: 500;
}

.delete {
  background-color: lightgray;
  color: black;
  font-weight: 500;
}

.request-time {
  font-size: 14px;
  color: gray;
  position: absolute;
  top: 10px;
  right: 10px;
}
.confirm:active,
.delete:active {
  transform: scale(0.9);
}

.import-contacts-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  width: auto;
  margin-top: 20px;
  position: relative;
}

.import-contacts-left {
  margin-bottom: 10px;
}

.import-contacts-left h2 {
  font-size: 15px;
  color: #333;
  margin: 0;
}

.import-contacts-text {
  margin-bottom: 20px;
}

.import-contacts-text p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.import-contacts-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.get-started {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1877f2;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.get-started:hover {
  background-color: #165cb2;
}

/* People you may know */
.people-you-may-know-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
}

.people-you-may-know {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
}

.profile-pic {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-info {
  flex: 1;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.mutual-friends {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.mutual-friends {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.mutual-friend-pic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.mutual-friends-count {
  font-size: 14px;
  color: #555;
}

.buttons {
  display: flex;
  gap: 10px;
}

.add-friend,
.remove {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: 60%;
}

.add-friend {
  background-color: #1877f2;
  color: white;
  font-weight: 500;
}

.remove {
  background-color: lightgray;
  color: black;
  font-weight: 500;
}
