* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  margin-right: 10px;
}

nav i.fa-home,
nav i.fa-users,
nav i.fa-bell,
nav i.fa-play-circle,
nav i.fa-shopping-cart {
  font-size: 20px;
  color: black;
}

nav i.fa-comment {
  color: blue;
  font-size: 20px;
}
nav i.fa-users:active,
nav i.fa-comment:active,
nav i.fa-bell:active,
nav i.fa-play-circle:active,
nav i.fa-shopping-cart:active,
nav i.fa-home:active {
  transform: scale(0.9);
}

.message-settings-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-top: 1px;
}

.message-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-left: 7px;
}

.settings-search {
  display: flex;
  align-items: center;
}

.settings-icon,
.search-icon {
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.settings-circle,
.search-circle {
  background-color: #f4f4f4;
  border-radius: 50%;
  padding: 10px;
  margin: 0 5px;
}

.active-section {
  overflow-x: auto;
  white-space: nowrap;
  border-top: 5px solid lightgray;
  border-bottom: 5px solid lightgray;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
}

.active-slide {
  background-color: transparent;
  width: 50px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  left: 10px;
  flex: 0 0 auto;
}
.green-dot {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 50%;
}
.story-content,
.profile-pic {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.active-info {
  text-align: center;
}
.active-content {
  width: 100%;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.add-section {
  text-align: center;
}

.add-to-story {
  font-size: 10px;
  color: black;
  margin-top: 5px;
}

.active-info {
  text-align: center;
}

.active-name {
  font-size: 12px;
  color: black;
}
.image-icon-container {
  width: 50px;
  height: 50px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.image-icon-container i {
  font-size: 18px;
  color: #ccc;
}

.blue-circle {
  background-color: #1877f2;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(50%, -50%);
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.blue-circle i {
  color: white;
  font-size: 8px;
  text-align: center;
  line-height: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding-left: 15px;
  background-color: #fff;
}

.user {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.user-info {
  flex-grow: 1;
}

.user-name {
  font-weight: 600;
  color: black;
}

.random-message {
  border-radius: 10px;
}

.random-message:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .container {
    margin: 20px;
    padding: 0%;
  }
}
