* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  margin-right: 10px;
}

nav i.fa-home,
nav i.fa-users,
nav i.fa-facebook-messenger,
nav i.fa-play-circle,
nav i.fa-shopping-cart {
  font-size: 20px;
  color: black;
}

nav i.fa-bell {
  color: blue;
  font-size: 20px;
}
nav i.fa-users:active,
nav i.fa-comment:active,
nav i.fa-bell:active,
nav i.fa-play-circle:active,
nav i.fa-shopping-cart:active,
nav i.fa-home:active {
  transform: scale(0.9);
}
.notifications-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1px;
}

.notifications-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-left: 7px;
}

.search {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 18px;
  color: black;
  cursor: pointer;
}

.search-circle {
  background-color: #f4f4f4;
  border-radius: 50%;
  padding: 10px;
  margin: 0 5px;
}
.mark-as-read {
  margin-top: 10px;
  text-align: center;
}
.mark-button {
  width: 100%;
  background-color: white;
  color: #1877f2;
  font-weight: 600;
  height: 30px;
  border: transparent;
}
.mark-container {
  background-color: rgb(211, 211, 211);
  padding: 12px;
  padding-top: 1px;
}
.earlier {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 1px;
  padding-bottom: 5px;
}
.earlier-title {
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin-left: 7px;
}
.notifications {
  padding-left: 10px;
  background-color: #fff;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.notification-item {
  width: auto;
  margin-bottom: 10px;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
}
.notification-details {
  display: flex;
  flex-direction: column;
}
.notification-details .name {
  font-weight: bold;
  margin-right: 5px;
}
.notification-details .description {
  font-weight: 400;
}
.notification-date {
  color: #888;
  font-size: 12px;
}
.notification-options {
  margin-left: 10px;
  padding-right: 15px;
}
