* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  margin-right: 10px;
}

nav i.fa-home,
nav i.fa-users,
nav i.fa-comment,
nav i.fa-bell,
nav i.fa-shopping-cart {
  font-size: 20px;
  color: black;
}

nav i.fa-play-circle {
  color: blue;
  font-size: 20px;
}
nav i.fa-users:active,
nav i.fa-comment:active,
nav i.fa-bell:active,
nav i.fa-play-circle:active,
nav i.fa-shopping-cart:active,
nav i.fa-home:active {
  transform: scale(0.9);
}
/* VIDEOS PERSON DOWNLOAD SEARCH */
.videos-search-person-circle {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1px;
}

.videos-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-left: 7px;
}

.person-download-search {
  display: flex;
  align-items: center;
}

.search-icon,
.person-icon,
.download-icon {
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.search-circle,
.person-circle,
.download-circle {
  background-color: #f4f4f4;
  border-radius: 50%;
  padding: 10px;
  margin: 0 5px;
}
/* PLAY VIDS AUTO AND TOGGLE */
.play-vids-auto-toggle {
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 3px solid lightgray;
}

.play-vids-auto {
  display: inline-block;
  padding-left: 10px;
  color: gray;
}
.toggle {
  font-size: 20px;
  align-items: center;
  padding-right: 10px;
}
/* FOR YOU, REELS, LIVE , FOLLOWING, SAVED, GAMING */

.sections-container {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.section {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.for-you {
  background-color: lightblue;
  color: blue;
  padding: 10px;
  border-radius: 15px;
}
.reels,
.live,
.following,
.saved,
.gaming {
  padding: 10px;
  border-radius: 10px;
}
.section-title {
  font-size: 10px;
  font-weight: bold;
}
/* VIDEOS SECTION */

.post-section {
  border: 1px solid #ccc;
  padding: 15px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}

.post-info {
  display: flex;
  align-items: center;
}

.post-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.dot {
  color: black;
  font-size: 10px;
}

.follow-status {
  color: blue;
  margin-right: 10px;
  display: inline;
  font-size: 13px;
}
.post-name {
  font-weight: bold;
}
.post-name,
.post-metadata {
  color: #555;
  font-size: 12px;
  margin-right: 5px;
}

.post-options {
  display: flex;
  align-items: center;
}

.post-three-dots,
.post-close {
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.text-post {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.video-post {
  display: flex;
  justify-content: center;
}
.video-post video {
  width: 100%;
  max-width: 800px;
}

.reaction-section {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
  height: 20px;
  margin-top: 10px;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.comment-share-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: auto;
}

.like-box,
.comment-box,
.share-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 110px;
  height: 40px;
}

.like-box i,
.comment-box i,
.share-box i {
  font-size: 24px;
  margin-right: 5px;
}

.like-box span,
.comment-box span,
.share-box span {
  margin-left: 5px;
}
