* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  margin-top: 15px;
}

.friends-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.search {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 18px;

  color: black;
  cursor: pointer;
}

.search-circle {
  background-color: #f4f4f4;
  border-radius: 50%;
  padding: 10px;
  margin: 0 5px;
}
.sections-container {
  display: flex;
  margin-top: 15px;
}
nav i.fa-home,
nav i.fa-comment,
nav i.fa-bell,
nav i.fa-play-circle,
nav i.fa-shopping-cart {
  font-size: 20px;
  margin-top: -10px;
  color: black;
}

nav i.fa-users {
  color: blue;
  font-size: 20px;
  margin-top: -10px;
}

.friends-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.sections-container {
  display: flex;
  margin-top: 15px;
}

.section {
  width: 109px;
  height: 39px;
  margin-right: 15px;
  margin-left: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.section-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.friend-requests-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
}

.friend-requests-title {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.see-all {
  font-size: 15px;
  font-weight: 200;
  color: blue;
}

.friend-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 10px;
}

.mutual-friends {
  display: flex;
  align-items: center;
}

.mutual-friends-icon {
  font-size: 18px;
  color: blue;
  margin-right: 5px;
}

.mutual-friends-count {
  font-size: 14px;
}

.confirm,
.delete {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm {
  background-color: #1877f2;
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
  width: 50%;
}

.delete {
  background-color: lightgray;
  color: black;
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
  width: 50%;
}

.request-time {
  font-size: 14px;
  color: gray;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 600px) {
  .friend-request {
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    margin-top: 10px;
    padding-left: 100px;
  }

  .mutual-friends {
    flex-direction: row;
    align-items: center;
  }

  .mutual-friends-icon {
    margin-bottom: 0;
    margin-right: 5px;
  }

  .confirm,
  .delete {
    width: 100%;
    margin-top: 10px;
  }

  .request-time {
    top: 0;
    right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .friend-request {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  .profile-info {
    margin-top: 10px;
    padding-left: 0;
  }

  .mutual-friends {
    margin-top: 10px;
  }

  .mutual-friends-icon {
    margin-bottom: 5px;
  }

  .profile-pic {
    order: -1;
    margin-right: 10px;
  }

  .request-time {
    top: 0;
    right: 0;
    margin-top: 10px;
  }
}
